# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/.gitignore
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_5_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_10_0.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
.idea/libraries/Maven__com_google_guava_guava_20_0.xml
.idea/libraries/Maven__com_h2database_h2_1_4_199.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_8.xml
.idea/libraries/Maven__com_sun_xml_bind_jaxb_osgi_2_2_10.xml
.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_16.xml
.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_13.xml
.idea/libraries/Maven__io_rest_assured_json_path_3_3_0.xml
.idea/libraries/Maven__io_rest_assured_rest_assured_3_0_0.xml
.idea/libraries/Maven__io_rest_assured_rest_assured_common_3_3_0.xml
.idea/libraries/Maven__io_rest_assured_xml_path_3_3_0.xml
.idea/libraries/Maven__io_springfox_springfox_core_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_schema_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_spi_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_spring_web_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger2_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_9_2.xml
.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml
.idea/libraries/Maven__io_swagger_swagger_models_1_5_20.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_1.xml
.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_1.xml
.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_2.xml
.idea/libraries/Maven__javax_activation_activation_1_1_1.xml
.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_1.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_1.xml
.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_9.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_10.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_12.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_10.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_12_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_12_1.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_javax_activation_0_1_0.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_27.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_27.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_27.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_4.xml
.idea/libraries/Maven__org_assertj_assertj_core_3_13_2.xml
.idea/libraries/Maven__org_ccil_cowan_tagsoup_tagsoup_1_2_1.xml
.idea/libraries/Maven__org_codehaus_groovy_groovy_2_5_8.xml
.idea/libraries/Maven__org_codehaus_groovy_groovy_json_2_5_8.xml
.idea/libraries/Maven__org_codehaus_groovy_groovy_xml_2_5_8.xml
.idea/libraries/Maven__org_dom4j_dom4j_2_1_1.xml
.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_2.xml
.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_2.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_2_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_2_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_library_2_1.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_6_Final.xml
.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_17_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
.idea/libraries/Maven__org_jboss_jandex_2_0_5_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_5_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_5_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_5_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_5_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_5_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_5_2.xml
.idea/libraries/Maven__org_junit_vintage_junit_vintage_engine_5_5_2.xml
.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8_1.xml
.idea/libraries/Maven__org_mapstruct_mapstruct_1_2_0_Final.xml
.idea/libraries/Maven__org_mockito_mockito_core_3_1_0.xml
.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_1_0.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_10.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_28.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_28.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aspects_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_0_RELEASE.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_6_3.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_25.xml
target/classes/application.properties
target/classes/data.sql
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/2019-12-06T13-48-58_717.dumpstream
target/surefire-reports/com.byhiras.AuctionTracker.api.ApiControllerTest.txt
target/surefire-reports/com.byhiras.AuctionTracker.AuctionTrackerTest.txt
target/surefire-reports/TEST-com.byhiras.AuctionTracker.api.ApiControllerTest.xml
target/surefire-reports/TEST-com.byhiras.AuctionTracker.AuctionTrackerTest.xml
target/test-classes/META-INF/AuctionTracker.kotlin_module
